<ion-header>
  <ion-toolbar>
    <ion-title>
      <!-- Edit Password -->
    </ion-title>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="home"></ion-back-button>
  </ion-buttons>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <h2>Change Password</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit(passwordForm.value)">
          <ion-item>
            <ion-label position="floating">New Password</ion-label>
            <ion-input formControlName="newpassword" [type]="password" clearOnEdit="false"></ion-input>
            <ion-icon item-end [name]="passwordIco" class="passwordIco" (click)='hideShowPassword()'></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input formControlName="confirmPassword" [type]="passwordType" clearOnEdit="false"></ion-input>
            <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='ShowPassword()'></ion-icon>
          </ion-item>
          <div class="ion-text-center">
            <ion-button expand="full" type="submit" [disabled]="onPasswordChange() == false">
              Update
            </ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>